---
import Layout from "../../layouts/Layout.astro";
import BentoCard from "../../components/BentoCard.astro";
import LegalCard from "../../components/cards/LegalCard.astro";
import PaymentMethodCard from "../../components/PaymentMethodCard.astro";
import imessageLogo from "../../assets/imessage-logo.svg";
import cashAppLogo from "../../assets/cash-app-logo.svg";
import paypalLogo from "../../assets/paypal-logo.webp";
import venmoLogo from "../../assets/venmo-logo.png";
import zelleLogo from "../../assets/zelle-logo.png";
import CardAnimation from "../../components/CardAnimation.svelte";
---

<Layout>
    <div
        class="max-w-xl mx-auto p-3 md:p-6 grid grid-cols-1 gap-4 md:grid-cols-2"
        id="cards"
        data-animate-cards
    >
        <BentoCard colSpan="md:col-span-2">
            <p class="text-lg">
                You can use any of these methods to pay the <a
                    href="https://gopherlink.umn.edu/4567/home/"
                    >Twin Cities Rotaract Club</a
                >.
                <strong
                    >Please mention TCRotaract in all payment messages.</strong
                >
            </p>

            <p>
                Membership dues are $15 per academic year. Make sure to include
                your UMN email address in your message.
            </p>

            <p>
                <a href="/pay"
                    >&leftarrow; Not trying to pay TCRotaract? Go back.</a
                >
            </p>
        </BentoCard>

        <PaymentMethodCard
            link="imessage:hello@bsoyka.me?body=Payment%20for%20TCRotaract.%20Tap%20the%20%2B%20icon%20and%20select%20Apple%20Cash%20to%20make%20your%20payment.%20You%20may%20modify%20this%20message%2C%20but%20please%20mention%20TCRotaract."
            image={imessageLogo}
            title="Apple Cash"
        >
            <code class="text-sm text-gray-600">hello@bsoyka.me</code>
        </PaymentMethodCard>

        <PaymentMethodCard
            link="https://venmo.com/bsoyka"
            deepLink="venmo://paycharge?txn=pay&recipients=bsoyka&note=Payment%20for%20TCRotaract"
            image={venmoLogo}
            title="Venmo"
        >
            <code class="text-sm text-gray-600">@bsoyka</code>
        </PaymentMethodCard>

        <PaymentMethodCard
            link="https://cash.app/$bsoyka"
            image={cashAppLogo}
            title="Cash App"
        >
            <code class="text-sm text-gray-600">$bsoyka</code>
        </PaymentMethodCard>

        <PaymentMethodCard image={zelleLogo} title="Zelle">
            <code class="text-sm text-gray-600">651-219-2052</code>
        </PaymentMethodCard>

        <PaymentMethodCard
            link="https://paypal.me/BSoyka"
            image={paypalLogo}
            title="PayPal"
        >
            <code class="text-sm text-gray-600">@BSoyka</code>
        </PaymentMethodCard>

        <PaymentMethodCard title="Cash" />

        <BentoCard colSpan="md:col-span-2" classes="text-sm text-gray-600">
            We do not accept checks.
        </BentoCard>

        <LegalCard colSpan="md:col-span-2" />
    </div>
</Layout>
<CardAnimation client:load />
